<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="DirectoryLogs" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="AllLogsFile"
				fileName="${DirectoryLogs}/nlog-${shortdate}.log"
				deleteOldFileOnStartup="true" concurrentWrites="true" />
	</targets>

	<riles>
		<logger name = "*" minlevel="Trace" writeTO="AllLogsFile" />
		<filters>
			<when condition="contains(logger, 'Microsoft.AspNetCore.Mvc.Infrastructure')" action="Log" />
		</filters>
	</riles>
</nlog>
